<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

<p th:text="${'Title: ' + gameDto.title}">VALUE</p>
<p th:text="${'Image: ' + gameDto.image}">VALUE</p>
<p th:text="${'Rating: ' + gameDto.rating}">VALUE</p>
<p th:text="${'Price: ' + gameDto.price}">VALUE</p>
<p th:text="${'MinGraphicCard: ' + gameDto.minGraphicCard}">VALUE</p>
<p th:text="${'MinProcessor: ' + gameDto.minProcessor}">VALUE</p>
<p th:text="${'MinRam: ' + gameDto.minRam}">VALUE</p>
<p th:text="${'DiskMemory: ' + gameDto.diskMemory}">VALUE</p>

</body>
</html>