<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<img th:src="@{'/img/' + ${userDto.picture}}" alt="">
<div class="row" style="margin-top: 5px" id="profile">
    <div class="col-md-9 col-lg-9">
        <table class="table">
            <tbody>
            <tr>
                <td>Name:</td>
                <td th:text="${userDto.name}"></td>
            </tr>
            <tr>
                <td>Graphic card:</td>
                <td th:text="${userDto.graphicCard}"></td>
            </tr>
            <tr>
                <td>RAM:</td>
                <td th:text="${userDto.memory}"></td>
            </tr>
            <tr>
                <td>CPU:</td>
                <td th:text="${userDto.processor}"></td>
            </tr>
            <tr>
                <td>Monitor:</td>
                <td th:text="${userDto.monitor}"></td>
            </tr>
            </tbody>
        </table>

        <a href="/user/update" class="btn btn-primary">Update user info</a>
        <a href="/user/editpass" class="btn btn-primary">Update password</a>
    </div>

</body>
</html>